<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    
    <title>Frontend Mentor | Advice generator app</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>

    <div class="rectangle-1">

        <div class="first-container">
            <div class="advice-id">
                <p>Advice # <%= lat %></p>
            </div>
        
            <div class="advice-content">
                <p>"<%= lng %>"</p>
            </div>
        </div>

        <div class="second-container">
            <div class="vector-art">
                <div class="img1">
                    <img src="images/pattern-divider-desktop.svg" alt="pattern divider desktop">
                </div>
                <div class="img2">
                    <img src="images/pattern-divider-mobile.svg" alt="pattern divider mobile">
                </div>
            </div>
            
            <button class="circle-button" onclick="reload()">
                <img src="images/icon-dice.svg" alt="">
            </button>
        </div>

    </div>
    
    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="#">The-Bipu</a>.
    </div>

    <script>
        function reload(){
            window.location.reload();
        };
    </script>
</body>
</html>