* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;

    width: auto;
    height: 100vh;

    background: hsl(220, 22%, 16%);

    display: grid;
    place-content: center;
}

.rectangle-1 {
    min-height: 332px;
    width: 540px;
    flex-shrink: 0;

    border-radius: 14px;
    border: none;
    background: #313A49;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    padding: 0 48px 0 48px;
    text-align: center;
}

.first-container {
    height: 70%;
    width: auto;

    display: grid;
    place-content: center;

    gap: 1.5rem;
}

.advice-id {
    font-size: 14px;
    color:hsl(150, 100%, 66%);
}

.advice-content {
    font-size: 28px;
    color: hsl(193, 38%, 86%);
}

.second-container {
    width: auto;
    height: 30%;

    gap: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.vector-art {
    width: auto;
    margin-bottom: 1rem;
}

.img2 {
    display: none;
}

.circle-button { 
    width: 64px;
    height: 64px;

    border-radius: 50%;
    border: none;
    
    display: grid;
    place-content: center;

    background-color: hsl(150, 100%, 66%);

    margin-bottom: -1rem;
}

@keyframes glowing {
    0% {
        background-color: hsl(150, 100%, 66%);
        box-shadow: 0 0 5px hsl(150, 100%, 66%);
    }
    50% {
        background-color: hsl(150, 100%, 66%);
        box-shadow: 0 0 20px hsl(150, 100%, 66%);
    }
    100% {
        background-color: hsl(150, 100%, 66%);
        box-shadow: 0 0 5px hsl(150, 100%, 66%);
    }
}

.circle-button:hover {
    animation: glowing 2s linear infinite;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    visibility: hidden;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media(max-width:768px){

    .rectangle-1 {
        height: 315px;
        max-width: 90vw;
        /* min-width: 343px; */
    
        padding: 0 24px 0 24px;
    }
    
    .first-container {
        height: 70%;
        width: auto;
    
        display: grid;
        place-content: center;
    
        gap: 1.5rem;
    }
    
    .second-container {
        width: auto;
        height: 30%;
    
        gap: 1rem;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .img1 {
        display: none;
    }

    .img2 {
        display: block;
    }

}