* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;

    width: 1440px;
    height: 810px;

    background: hsl(220, 22%, 16%);

    display: grid;
    place-content: center;
}

.rectangle-1 {
    height: 332px;
    width: 540px;
    flex-shrink: 0;

    border-radius: 14px;
    border: 0.1px solid #000;
    background: #313A49;
}



.pattern-divider-desktop {
    display: flex;
    width: 444px;
    height: 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.group {
    width: 444px;
    height: 16px;
    flex-shrink: 0;
}

.group {
    width: 20px;
    height: 16px;
    flex-shrink: 0;
}

.vector {
    width: 444px;
    height: 1px;
    flex-shrink: 0;
    fill: #4F5D74;
}

.ellipse-1 {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    fill: #53FFAB;
}

.vector {
    width: 444px;
    height: 1px;
    flex-shrink: 0;
    fill: #4F5D74;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    visibility: hidden;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1 {
    font-family: 'Manrope', sans-serif;
}

p {
    font-family: 'Manrope', sans-serif;
}